html,

body {
    height: 100%;
}
body {
    text-align: center;
    background-image: url("file:///Users/ezdeharjaber/Documents/TriviaGame/assets/images/friendscast.jpg");
}

 #wrapper{
    background: red;
    width: 80%;
    height: 90%;
    margin: 20% auto;
    box-sizing: border-box;
}
#sub-wrapper {
  position: relative;
  top: 20%;
}
button {
    display: block;
    width: 30%;
    height: 10%;
    margin: 0 auto;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: 0%;
    float: middle;
}

img {
    height: 200px;
}   
h1 {
    padding-top: 2.5%;
    font-family: ariel, sans-serif;
    font-size: 90px;
    font-weight: bold;
    margin-bottom: auto;
    padding-bottom: 0%;
    }
h2 {
    padding-top:3%;
    margin-top: 0%
    margin-bottom: auto;
    font-size: 35px;
    text-align: center;
    }
h3 {
  margin-bottom: 10px;
  font-size: 25px;
  margin-bottom: auto;
}

#start {
  margin-top: 15%;
  background: white;
  border: 2px black;
}
#done {
  margin-top: 2%;
  background: white;
  border: 2px black; 
}
button:hover {
  background: white;
  border: 5px black;
}

                  