body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-image: url('file:///Users/ezdeharjaber/Documents/TriviaGame/assets/images/friends.jpg,');
  background-color: #cccccc;
  border: 0;
  padding: 1px;
  width: ===3px;
  zoom: 1;
  color: black;
} 
